<div class="row" ng-controller="IndexCtrl">
    <side-bar class="small-4 columns"></side-bar>

    <div id="map_canvas" class="small-8 columns" ng-controller="MapCtrl">
        <google-map center="map.center" zoom="map.zoom" draggable="true" options="options"></google-map>
    </div>
</div>