<table>
  <thead>
    <tr>
      <td>Name</td>
      <td>Tel</td>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="person in people">
      <td>{{ person.fname + ' ' + person.lname }}</td>
      <td>{{ person.tel }}</td>
    </tr>
  </tbody>
</table>